<h1> Sign In! </h1>
<form action="<%= session_url %>" method="post">
  <label> Username:
    <input type="text" name=user[user_name]>
  </label>
  <label> Password:
    <input type="text" name=user[password]>
  </label>

  <input id="image"  type="image" width="150" height="150" alt="Login" src="http://thecatapi.com/api/images/get.php?api_key=MTAx&id=bvn">
</form>
